
<section id="empresas-header" style="background-image: url(images/empresas/1.jpg)" parallax-background parallax-ratio="0.2">

		<div class="container">
			<h2 translate="pages.empresas.titulo">Empresas del grupo</h2>
			<hr class="animated">
		</div>

</section>



<section id="empresas-main">

	<div class="container">
		
		<div class="row">
			<div class="col-sm-6 col-sm-offset-1" translate="pages.empresas.descripcion" translate-type="richeditor">
				<h2>La mayor red</h2>
				<p>Asistencias Carter contamos con una de las mas extensas redes de servicio de asistencia en carretera del estado español. Formado por profesionales capaces de resolver cualquier problema o improvisto que surja.<br>Buen viaje !  </p>
			</div>
		</div>

	</div>
	
</section>


<section id="empresas-addresses">

	<div class="container">

		<div class="row">
			
			<div 
				ng-repeat="i in [].constructor(14) track by $index">
				<div class="clearfix" ng-if="$index % 2 == 0"></div>
				<div 
					class="col-sm-6 address"
					ng-show="'pages.empresas.empresa-' + ($index + 1) + '.detalles' | translate">
					<main translate="{{ 'pages.empresas.empresa-' + ($index + 1) + '.detalles' }}" translate-type="richeditor">
						<h3>nombre</h3>
						<p>detalles</p>
					</main>
					<div class="gmaps" ng-show="'pages.empresas.empresa-' + ($index + 1) + '.URL-de-Google-Maps' | translate">
						<a href="{{ 'pages.empresas.empresa-' + ($index + 1) + '.URL-de-Google-Maps' | translate }}" target="_blank">{{ 'pages.empresas.Ver ubicación mapa' | translate }}</a>
					</div>
				</div>
			</div>

		</div>

	</div>

</section>
