
section#compromisos-header {
	background-image: url(../../../images/compromisos/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 394px;;;;
}
section#compromisos-header h2 {
	text-align: right;
	font-size: 62px;
	animation-name: animation-compromisos-header-h2;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}
@keyframes animation-compromisos-header-h2 {
    0%   {opacity: 0; transform: translateX(-100px);}
    100% {opacity: 1; transform: translateX(0px)}
}



section#compromisos-main {
	padding-top: 30px;
}
section#compromisos-main h3 {
	font-size: 32px;
}


section#compromisos-valores {
	padding-top: 75px;
	text-align: center;
	font-size: 16px;
	padding-bottom: 30px;;;;;
}
section#compromisos-valores h4 {;
	font-size: 20px;;
	letter-spacing: 0.1em;;
}
section#compromisos-valores .icon {
	padding: 25px 0 30px 0;;
}
section#compromisos-valores .icon img {
	height: 88px;;
}
section#compromisos-valores .text {
	padding-bottom: 50px;
}




/* mobile */
@media screen and (max-width: 991px) {


	section#compromisos-header {
		height: 194px;
	}
	section#compromisos-header h2 {
		font-size: 31px;
	}
	section#compromisos-main {
	}

}